<div>
    <h1>Summary</h1>
</div>

<div class="form-block">
    <h3>Bio:</h3>
    <p>{{questionnaireValues.bio}}</p>
</div>

<div class="form-block">
    <h3>Services:</h3>

    <ng-container *ngIf="questionnaireValues.services.software">
        <p>Software development</p>
    </ng-container>

    <ng-container *ngIf="questionnaireValues.services.customerSupport">
        <p>Customer support</p>
    </ng-container>

    <ng-container 
        *ngIf="questionnaireValues.services.other.selected && questionnaireValues.additionalOptions.other">
        <p>Other:</p>
        <p>{{questionnaireValues.services.other.text}}</p>
    </ng-container>
</div>

<div class="form-block">
    <h3>Questions:</h3>

    <ng-container *ngFor="let question of questionnaireValues.questionArray">
        <ng-container *ngIf="question.question">
            <h4>Question:</h4>
            <p>{{question.question}}</p>

            <h4>Type:</h4>
            <p>{{question.type}}</p>

            <h4>Answer:</h4>
            <p>{{question.answer.answerOption}}</p>

            <ng-container *ngIf="question.answer.selectComment">
                <h4>Comment: </h4>
                <p>{{question.answer.comment}}</p>
            </ng-container>
            
            <ng-container *ngIf="question.questionIsRequired">
                <h4>Required question</h4>
            </ng-container>

            <hr>
        </ng-container>
    </ng-container>
</div>