<div>
    <h1>
        Welcome to the Demo Forms Builder
    </h1>
</div>
<form [formGroup]="questionnaireForm" (ngSubmit)="submit()">
    <div class="tell-us form-block">
        <div class="row-block">
            <h3>Please, tell us about yourself</h3>
        </div>

        <textarea formControlName="bio"></textarea>

        <validation-error 
            *ngIf="questionnaireForm.controls['bio'].invalid && questionnaireForm.controls['bio'].touched"
            form="Bio" char="20">
        </validation-error>
    </div>

    <div class="select-service form-block">
        <div class="row-block">
            <h3>Please, select all the services you'll need</h3>
        </div>


        <div formGroupName="services" class="col-block">
            <label>
                <input type="checkbox" formControlName="software">
                Software Development
            </label>

            <label>
                <input type="checkbox" formControlName="customerSupport">
                Customer support
            </label>
            
            <div formGroupName="other" class="col-block">

                <label>
                    <input type="checkbox" formControlName="selected" #c>
                    Other
                </label>

                <label *ngIf="c.checked">
                   <input type="text" formControlName="text">
                </label>

            </div>

        </div>

    </div>

    <div class="additional-questions form-block">
        <div class="row-block row-between">
            <h3>Add a Question</h3>

            <input type="button" value="+" class="add-btn" 
                (click)="addQuestionOption()">
        </div>

        <div class="row-block" formArrayName="questionArray" 
            *ngFor="let item of questionnaireForm.get('questionArray')['controls']; let i = index">
            <div class="col-block col-border" [formGroupName]="i">
                <div class="row-block">
                    <div class="col-block">
                        <input type="text" formControlName="question" placeholder="Question">
                    </div>

                    <div class="row-block">
                        <div class="col-block">
                            <input type="text" formControlName="type" placeholder="Question Type">
                        </div>
                        
                        <input type="button" value="-" class="remove-btn" 
                            (click)="removeQuestionOption(i)">
                    </div>
                </div>

                <div class="col-block" formGroupName="answer">
                    <div class="row-block">
                        <input type="text" formControlName="answerOption" 
                            placeholder="Add Answer Option">
                        <input type="checkbox" formControlName="selectComment" #c>
                    </div>
                    
                    <ng-container *ngIf="c.checked">
                        <input type="text" formControlName="comment" placeholder="Comment">
                    </ng-container>
                    
                </div>

                <label>
                    <input type="checkbox" formControlName="questionIsRequired">
                    This question is required
                </label>
                
            </div>
            
        </div>


        <div formGroupName="additionalOptions" class="col-block">
            <label>
                <input type="checkbox" formControlName="other">
                Include 'Other' option
            </label>
        </div>


    </div>

    <input type="submit" value="Preview my answers" 
        [disabled]="questionnaireForm.invalid">

</form>